@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-2xs: 15rem;
  --breakpoint-xs: 30rem;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    /* border: 2px solid theme("colors.primary.200"); */
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  .animate-enter {
    animation: enter 400ms;
  }

  .animate-leave {
    animation: leave 1.1s;
  }

  @keyframes enter {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes leave {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(150%);
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@layer darkmode;
